#content-container {
    background-color: rgb(121, 121, 121);
}
#testing-container {
    background-color: black;
    height: 800px;
}
#testing {
    color: rgb(0, 248, 0);
    margin: 0;
    padding: 0;
}
#footer-container {
    margin: 0;
    padding: 0;
}

/* White space above and below footer*/
/* band-aid find a new solution */
body {
    background-color: #212529;
}